.testimonios {
    padding-top: 25px;
    text-align: center;
    padding: 50px;
    gap: 60px;
    justify-content: center;

    .lista-testimonios {
        padding: 40px 0;
        color: #434343;
        text-align: center;
        gap:20px;

        //extend
        // display: flex;
        // justify-content: center;
        // flex-wrap: wrap;

        .testimonio {
            background: $mainColor;
            padding: 30px;
            overflow: hidden;
            width: 500px;
            border-radius: 20px;
            img {
                border-radius: 50%;
            }
            .nombre {
                font-size: 20px;
                text-transform: uppercase;
                margin: 20px 0;
            }
            .estrellas {
                color: $secondaryColor;
                margin-bottom: 20px;
            }
        }
    }
    
}

@mixin tamanos($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.testimonios .lista-testimonios .testimonio img {
    @include tamanos(100px, 100px);
}

.testimonios .lista-testimonios {
    @extend %flex;
}