.servicios {
    padding-top: 25px;
    text-align: center;

    .listaServicios {
        padding: 50px;
        gap: 60px;

        //extend
        // display: flex;
        // justify-content: center;
        // flex-wrap: wrap;
        
        .servicio {
            background-color:$mainColor;
            border-radius: 20px;
            overflow: hidden;
            width: 200px;
            text-align: center;
    
            .servicio_imagen {
                width: 100%;
            }
        }
    }

}

.servicios .listaServicios {
    @extend %flex;
}