.como-trabajamos {
    padding-top: 25px;
    text-align: center;
    gap: 60px;
    justify-content: center;

    .cards_trabajo {
        padding: 50px;
        gap: 60px;

        .card_trabajo {
            background-color:#f7e4e5;
            border-radius: 20px;
            overflow: hidden;
            width: 220px;
            text-align: center;

            .card_info {
                padding: 20px;
                display:flex;
                flex-direction: column;
                gap: 20px;

                .card_titulo {
                    text-align: center;
                }
                
                .card_descripcion {
                    text-align: center;
                }
            }
        }
    
    }
    
}

.como-trabajamos .cards_trabajo {
    @extend %flex;
}

$imagenes: (
    chica: 20%,
    mediana: 50%,
    grande: 100%
);

.como-trabajamos .cards_trabajo .card_trabajo .card_imagen {
    width: map-get($imagenes, grande);
}