footer {
    width: 100%;
    background-color:$mainColor;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    display: flex;
    
    .footerLogo {
        margin-top: 40px;

        .logo_container{
            
            text-align: center;
            .logo {
                height: $logo;
                border-radius: 20px;
            }
        }
    }

    .address {
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        p{
            margin-bottom: 0;
        }
    }

    .social-container {
        margin-top: 40px; 
        justify-content: center;
        display: flex;

        .social {
            width:34%;
    
            .social-menu {
                display: flex;
    
                list-style-type: none;
                justify-content: center;
    
                a {
                    text-decoration: none;
                    font-weight: bold;
    
                    i {
                        background-color: $secondaryColor;
                        color: #fff;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        font-size: 25px;
                        margin-right: 10px;
                        display: flex;
                        justify-content: center;
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                    }
                }
            }
        }
    }
}