.background-header {
    background-color: #f7e4e5;

    .header-logo {
        height: 40px;
            border-radius: 20px;
            width: 70%;
    }

    .header-collapse {
        justify-content: center;
    
        .navbar-nav {
            display: flex;
            gap: 30px;
        
            .menu-item {
                transition: 0.4s;
                font-size: 18px;
                text-decoration: none;
                color: #1dcfb5;
                letter-spacing: 1px;
                font-weight: bold;
            
            }
            .menu-item:hover {
                background-color: #aedad078;
                border-radius: 15px;
            }
        }
    }
}