@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

$fontMonserrat: 'Montserrat', sans-serif;

$mainColor: #f7e4e5;

$secondaryColor:rgba(174, 218, 208);

$transparentSecondaryColor:rgba(174, 218, 208, 0.470);